<div class="dsq-textarea-wrapper" id="dsq-textarea-wrapper" style="height: auto; ">
<iframe name="easyXDM_default9700_provider" id="easyXDM_default9700_provider" scrolling="no" frameborder="0" src="http://ninjahideout.disqus.com/thread/osx_ubuntu_and_openvpn_in_5_minutes_ninjas_on_a_penny_farthing/reply.html?f=ninjahideout&amp;t=osx_ubuntu_and_openvpn_in_5_minutes_ninjas_on_a_penny_farthing&amp;ff=Helvetica%2C%20Arial%2C%20Liberation%20Sans%2C%20FreeSans%2C%20sans-serif&amp;p=Type%20your%20comment%20here.&amp;ifrs=&amp;1294371492792&amp;xdm_e=http%3A%2F%2Fblog.ninjahideout.com&amp;xdm_c=default9700&amp;xdm_p=1" style="height: 143px; ">
<html><head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://mediacdn.disqus.com/1294274648/css/reset.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="http://mediacdn.disqus.com/1294274648/styles/embed/iframe.css" charset="utf-8">  

    <style type="text/css">
    html, body, form, textarea {
        outline: 0;
        margin: 0;
        padding: 0;
        height: 99%;
        width: 100%;
    }
    body {
        font-family: Helvetica, Arial, Liberation Sans, FreeSans, sans-serif;
        color: #333;
    }
    textarea {
        border: 0;
        font-family: Helvetica, Arial, Liberation Sans, FreeSans, sans-serif;
        overflow: hidden;
    }
    </style>

    
<script src="http://mediacdn.disqus.com/1294274648/js/dist/lib.js"></script>




    
    <script src="http://mediacdn.disqus.com/1294274648/js/dist/commentbox.js"></script>
    

    <script>
      var options = {
        placeholder:   "Type your comment here.",
        forum:         "Ninjas on a Penny Farthing (ninjahideout)",
        thread:        "184751268",
        parentComment: "null",

        session: {
          nonce:       "6177510:2011-01-07T02:56:00.230629",
          testCookie:  "True" == "True"
        },

        urls: {
          create:      "http://ninjahideout.disqus.com/thread/osx_ubuntu_and_openvpn_in_5_minutes_ninjas_on_a_penny_farthing/post_create/",
          edit:        "http://ninjahideout.disqus.com/thread/osx_ubuntu_and_openvpn_in_5_minutes_ninjas_on_a_penny_farthing/edit_post/",
          helper:      "http://mediacdn.disqus.com/1294274648/html/xdm.html",
          stopTimer:   "http://disqus.com/forums/timer.html"
        }
      };

      // grab a handle to the easyXDM rpc object
      var commentBoxRpc = DISQUS.host.setupCommentBox(options);

      $(document).ready(function () {
          $('textarea').commentbox(options);
      });
    </script>
  </head>

  <body>
    <form>
        <textarea class="placeholder" style="resize: none; overflow-y: hidden; height: 143px; "></textarea><textarea class="placeholder" style="resize: none; overflow-y: hidden; position: absolute; top: 0px; left: -9999px; width: 646px; line-height: normal; text-decoration: none; letter-spacing: normal; height: 143px; " tabindex="-1"></textarea>
    </form>
  

</body></html>
</iframe>
</div>
